﻿@model FacturacionWeb.Models.FacturaModel


@using (Html.BeginForm("GuardarFactura", "Factura"))
{
    @Html.HiddenFor(m => m.ClienteID)
    @Html.HiddenFor(m => m.FacturaID)
    @Html.HiddenFor(m => m.MontoTotal)

}
<table class="table">
    <tr>
        <th>
            @Html.Label("Id Producto")
        </th>
        <th>
            @Html.Label("Cantidad")
        </th>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("SubTotal")
        </th>
        <th></th>
    </tr>
    
     @if(Model != null && Model.detalleFactura != null && Model.detalleFactura.Count != 0)
{

   for (int i = 0; i < Model.detalleFactura.Count; i++)
   {
    <tr>
        <td>
            @Html.DisplayFor(m => m.detalleFactura[i].Prod.ProductoID)
            @Html.HiddenFor(m => m.detalleFactura[i].Prod.ProductoID)
        </td>
        <td>
            @Html.DisplayFor(m => m.detalleFactura[i].Cantidad)
            @Html.HiddenFor(m => m.detalleFactura[i].Cantidad)
        </td>
        <td>
            @Html.DisplayFor(m => m.detalleFactura[i].Prod.NombreProducto)
            @Html.HiddenFor(m => m.detalleFactura[i].Prod.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(m => m.detalleFactura[i].SubTotal)
            @Html.HiddenFor(m => m.detalleFactura[i].SubTotal)
        </td>
    </tr>
       }
   }

</table>


<div class="form-group">
    @Html.Label("Total:")
    <div>
        @Html.DisplayTextFor(m => m.CostoTotal)
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Guardar" class="btn btn-default" />
    </div>
</div>

