﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Sistema de facturación web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        @if (Session["Usuario"] != null)
        {
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Gestión de usuarios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Crear Usuario", "CrearUsuario", "Usuario")</li>
                        <li>@Html.ActionLink("Lista de Usuarios", "ListarUsuario", "Usuario")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Clientes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Lista de clientes", "ListaCliente", "Cliente")</li>
                        <li>@Html.ActionLink("Registrar nuevo cliente", "CrearCliente", "Cliente")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Productos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Lista de productos", "ListaProducto", "Producto")</li>
                        <li>@Html.ActionLink("Registrar nuevo producto", "CrearProducto", "Producto")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Facturas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Registrar nueva factura", "CrearFactura", "Factura")</li>
                    </ul>
                </li>
            </ul>


        }


                @*<div class="container">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="https://image.freepik.com/vector-gratis/conjunto-de-empresario-y-los-iconos-aislados-en-fondo-blanco_7562-9.jpg" alt="Gestionar usuarios" style="width:70%;">
                            </div>
                        


                            <div class="item">
                                <img src="http://fevas.org/wp-content/uploads/2017/02/accesibilidad.jpg" alt="Clientes" style="width:70%;">
                            </div>
                           
                        

                            <div class="item">
                                <img src="https://thumbs.dreamstime.com/t/icono-del-carro-de-la-compra-en-la-tableta-digital-por-los-productos-del-arte-91392558.jpg" alt="Nuestros productos" style="width:70%;">
                            </div>
                            


                            <div class="item">
                                <img src="http://www.facturador.ame.gob.ec/img/icono-FACTURA-elecronica.jpg" alt="Facturas" style="width:70%;">
                            </div>
                           
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>*@


                   
</div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
