﻿@model IEnumerable<FacturacionWeb.Models.UsuarioModel>

@{
    ViewBag.Title = "ListarUsuario";
}

<h2>Lista de usuarios</h2>

<p>
    @Html.ActionLink("Crear nuevo usuario", "CrearUsuario")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
    </tr>
}

</table>
